@if (formGroup?.controls) {
<mat-form-field>
  <mat-label>{{ "auth.email" | translate }}</mat-label>
  <input
    matInput
    [placeholder]="placeholders.email"
    [formControl]="formGroup.controls.email"
  />
  @if (formGroup.controls.email.errors) {
  <mat-error>{{
    getErrorMessage(formGroup.controls.email) | translate
  }}</mat-error>
  }
</mat-form-field>
<mat-form-field>
  <mat-label>{{ "auth.password" | translate }}</mat-label>
  <input matInput [formControl]="formGroup.controls.password" />
  @if (formGroup.controls.password.errors) {
  <mat-error>{{
    getErrorMessage(formGroup.controls.password) | translate
  }}</mat-error>
  }
</mat-form-field>

<button mat-raised-button color="primary" (click)="confirm()">
  {{ "app.signIn" | translate }}
</button>

}
