@if (taskItem; as task) {
<div
  class="task-item"
  crossOut
  [isCrossed]="task.status === 'Done'"
  [completed]="task.status === 'Done'"
>
  <div ellipsis class="task-item__element mod-title">{{ task.title }}</div>
  @if (task.endDate | date : "M/dd/yyy"; as date) {
  <div class="task-item__element" [overdued]="currDate > task?.endDate">
    {{ date }}
  </div>
  } @else {
  <div class="task-item__element">-</div>
  } @if (task.priority; as priority) {
  <div class="task-item__element">
    {{ taskPriorityName[priority] | translate }}
  </div>
  } @else {
  <div class="task-item__element">-</div>
  }
  <div class="task-item__element mod-button">
    <button
      mat-icon-button
      [color]="task.status === 'Done' ? 'basic' : 'primary'"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>
}

<mat-menu #menu>
  <button
    mat-menu-item
    (click)="
      completeTask(taskItem.id, taskItem.status === 'Done' ? 'ToDo' : 'Done')
    "
  >
    <mat-icon> @if (taskItem.status === 'Done') { redo } @else {done}</mat-icon>
    <span
      >{{
        (taskItem.status === "Done" ? "app.reopen" : "app.complete") | translate
      }}
    </span>
  </button>
  <button mat-menu-item (click)="editTask(taskItem.id)">
    <mat-icon>edit</mat-icon>
    <span>{{ "app.edit" | translate }}</span>
  </button>
  <button mat-menu-item (click)="removeTask(taskItem.id)">
    <mat-icon>delete</mat-icon>
    <span>{{ "app.remove" | translate }}</span>
  </button>
</mat-menu>
