.task-item {
  width: 100%;
  display: flex;
  column-gap: 2rem;
}

.task-item__element {
  flex: 1;
  overflow: hidden;
  max-width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.mod-button {
    justify-content: right;
  }

  &.mod-title {
    justify-content: left;
  }
}
