@if (noteItem; as note) {
<div class="dft-note-list-item">
  <div class="dft-note-list-item__element mod-first">{{ note.title }}</div>
  <div class="dft-note-list-item__element mod-last">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>
}

<mat-menu #menu>
  <button mat-menu-item (click)="editNote(noteItem.id)">
    {{ "app.edit" | translate }}
  </button>
  <button mat-menu-item (click)="removeNote(noteItem.id)">
    {{ "app.remove" | translate }}
  </button>
</mat-menu>
