<div class="dft-tasks-page-calendar__header">
  <div class="dft-tasks-page-calendar__view-selector">
    <button
      mat-stroked-button
      [color]="view === CalendarView.Month ? 'primary' : 'basic'"
      (click)="setView(CalendarView.Month)"
    >
      {{ "app.month" | translate }}
    </button>
    <button
      mat-stroked-button
      [color]="view === CalendarView.Week ? 'primary' : 'basic'"
      (click)="setView(CalendarView.Week)"
    >
      {{ "app.week" | translate }}
    </button>
    <button
      mat-stroked-button
      [color]="view === CalendarView.Day ? 'primary' : 'basic'"
      (click)="setView(CalendarView.Day)"
    >
      {{ "app.day" | translate }}
    </button>
  </div>
  <div>
    <h1>{{ viewDate | calendarDate : view + "ViewTitle" : "en" }}</h1>
  </div>
  <div>
    <button
      mat-stroked-button
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()"
    >
      {{ "app.previous" | translate }}
    </button>
    <button mat-stroked-button mwlCalendarToday [(viewDate)]="viewDate">
      {{ "app.today" | translate }}
    </button>
    <button
      mat-stroked-button
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()"
    >
      {{ "app.next" | translate }}
    </button>
  </div>
</div>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events$ | async"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events$ | async"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events$ | async"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>
