.dft-tasks-page-calendar__header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dft-tasks-page-calendar__view-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
