.dft-note-create-modal {
  width: 52rem;
  height: 30rem;
  padding: 2rem;
}

.dft-note-create-modal__title-control {
  width: 100%;
}

.dft-note-create-modal__footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
