<mat-drawer-container autosize>
  <mat-drawer #drawer mode="over">
    <p>Auto-resizing sidenav</p>
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
    <button mat-raised-button>Toggle extra text</button>
  </mat-drawer>

  <div class="dft-side-bar__content">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon
        fontIcon="{{
          drawer.opened
            ? 'keyboard_double_arrow_left'
            : 'keyboard_double_arrow_right'
        }}"
      ></mat-icon>
    </button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
