$headerHeight: var(--header-height);

.dft-header {
  display: flex;
  padding: 0 1.8rem;
  height: $headerHeight;
}

.dft-header__left-side {
  flex-grow: 1;
}

.dft-header__right-side {
  flex-grow: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  column-gap: 2rem;
}

.dft-header__logo-image {
  width: 3rem;
  height: 3rem;
  background-color: white;
}
