<mat-toolbar class="dft-header" color="primary">
  <div class="dft-header__left-side">
    <img class="dft-header__logo-image" src="assets/images/logo/logo1.ico" />
  </div>
  <div class="dft-header__right-side">
    <dft-theme-selector></dft-theme-selector>
    <dft-language-selector></dft-language-selector>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #userMenu>
  <button mat-menu-item disabled>{{ (user$ | async)?.login }}</button>
  <button mat-menu-item disabled>{{ (user$ | async)?.email }}</button>
  <button mat-menu-item (click)="goToUserEditPage()">
    {{ "app.edit" | translate }}
  </button>
  <button mat-menu-item (click)="logOut()">
    {{ "app.logOut" | translate }}
  </button>
</mat-menu>
<router-outlet></router-outlet>
