.dft-create-form {
  padding: 2rem;
}

.dft-create-form__header {
  height: 20%;
}

.dft-create-form__footer {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
