<div class="dft-tasks-page-chart__top-charts">
  <ngx-charts-bar-vertical
    [view]="taskCreationChartOptions.chartSize"
    [scheme]="taskCreationChartOptions.colorScheme"
    [results]="taskCreationChartData$ | async"
    [gradient]="taskCreationChartOptions.gradient"
    [xAxis]="taskCreationChartOptions.showXAxis"
    [yAxis]="taskCreationChartOptions.showYAxis"
    [showXAxisLabel]="taskCreationChartOptions.showXAxisLabel"
    [showYAxisLabel]="taskCreationChartOptions.showYAxisLabel"
    [xAxisLabel]="'app.creationDate' | translate"
    [yAxisLabel]="'task.amount' | translate"
  >
  </ngx-charts-bar-vertical>

  <ngx-charts-pie-chart
    class="dft-tasks-page-chart__top-charts-right"
    [view]="taskStatusPercentageChartOptions.chartSize"
    [scheme]="taskStatusPercentageChartOptions.colorScheme"
    [results]="taskStatusPercentageChartData$ | async"
    [gradient]="taskStatusPercentageChartOptions.gradient"
    [legend]="taskStatusPercentageChartOptions.showLegend"
    [legendPosition]="taskStatusPercentageChartOptions.legendPosition"
    [labels]="true"
    [maxLabelLength]="taskStatusPercentageChartOptions.maxLabelLength"
    [explodeSlices]="taskStatusPercentageChartOptions.explodeSlices"
    [tooltipText]="taskStatusPercentageChartOptions.tooltipText"
  >
  </ngx-charts-pie-chart>
</div>

<div class="dft-tasks-page-chart__color-diagram-container">
  <ngx-charts-bar-horizontal
    class="dft-tasks-page-chart__color-diagram"
    [view]="taskAmountToEachColorChartOptions.chartSize"
    [scheme]="taskAmountToEachColorChartOptions.colorScheme"
    [results]="taskAmountToEachColorData$ | async"
    [gradient]="taskAmountToEachColorChartOptions.gradient"
    [xAxis]="taskAmountToEachColorChartOptions.showXAxis"
    [yAxis]="taskAmountToEachColorChartOptions.showYAxis"
    [showXAxisLabel]="taskAmountToEachColorChartOptions.showXAxisLabel"
    [showYAxisLabel]="taskAmountToEachColorChartOptions.showYAxisLabel"
    [xAxisLabel]="'task.amount' | translate"
    [yAxisLabel]="'app.color' | translate"
  >
  </ngx-charts-bar-horizontal>

  <div class="dft-tasks-page-chart__color-diagram-container-description">
    <h1>{{ "app.colors.major" | translate }}</h1>
    <mat-accordion multi>
      @for (colorInfo of (colorsInfo$ | async); track $index) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ colorInfo.name | translate }}
          </mat-panel-title>
          <mat-panel-description>
            {{ colorInfo.shortDescription | translate }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{ colorInfo.longDescription | translate }}</p>
      </mat-expansion-panel>
      }
    </mat-accordion>
  </div>
</div>
