.dft-tasks-page-chart__top-charts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.dft-tasks-page-chart__top-charts-right {
  flex: 1;
  display: flex;
  justify-content: center;
}
