<dft-edit-page
  (back)="navigateBack()"
  (reset)="resetFormValue()"
  (save)="saveChanges()"
>
  <ng-container main>
    @if(formGroup?.controls){
    <mat-form-field class="dft-space-edit-page__title">
      <mat-label>{{ "app.title" | translate }}</mat-label>
      <input matInput [formControl]="formGroup.controls.name" />
      @if(formGroup.controls.name.errors) {
      <mat-error>{{ getErrorMessage(formGroup.controls.name) }}</mat-error>
      }
    </mat-form-field>
    <div class="dft-space-edit-page__selectors">
      @if((tasks$ | async)?.length) {
      <mat-form-field class="dft-space-edit-page__selectors-control">
        <mat-label>{{ "app.relatedTasks" | translate }}</mat-label>
        <mat-select
          matInput
          [formControl]="formGroup.controls.taskIds"
          multiple
        >
          @for (task of (tasks$ | async); track task.id) {
          <mat-option [value]="task.id">{{ task.title }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      } @if ((notes$ | async)?.length) {
      <mat-form-field class="dft-space-edit-page__selectors-control">
        <mat-label>{{ "app.relatedNotes" | translate }}</mat-label>
        <mat-select
          matInput
          [formControl]="formGroup.controls.noteIds"
          multiple
        >
          @for (note of (notes$ | async); track note.id) {
          <mat-option [value]="note.id">{{ note.title }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      }
    </div>
    }
  </ng-container>
</dft-edit-page>
