@if (taskItem; as task) {
<div
  class="task-item"
  crossOut
  [isCrossed]="task.completed"
  [completed]="task.completed"
>
  <div ellipsis class="task-item__element mod-title">{{ task.title }}</div>
  @if (task.endDate | date : "M/dd/yyy"; as date) {
  <div class="task-item__element">
    {{ date }}
  </div>
  } @else {
  <div class="task-item__element">-</div>
  } @if (task.priority; as priority) {
  <div class="task-item__element">{{ priority }}</div>
  } @else {
  <div class="task-item__element">-</div>
  }
  <div class="task-item__element mod-button">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>
}

<mat-menu #menu>
  <button
    mat-menu-item
    (click)="completeTask(taskItem.id, !taskItem.completed)"
  >
    <mat-icon> @if (taskItem.completed) { redo } @else {done}</mat-icon>
    <span
      >{{ (taskItem.completed ? "app.reopen" : "app.complete") | translate }}
    </span>
  </button>
  <button mat-menu-item (click)="editTask(taskItem.id)">
    <mat-icon>edit</mat-icon>
    <span>{{ "app.edit" | translate }}</span>
  </button>
  <button mat-menu-item (click)="removeTask(taskItem.id)">
    <mat-icon>delete</mat-icon>
    <span>{{ "app.remove" | translate }}</span>
  </button>
</mat-menu>
