<div class="dft-task-page-board">
  <div class="dft-task-page-board-container">
    <h2>{{ "task.status.noStatus" | translate }}</h2>

    <div
      cdkDropList
      #noStatusList="cdkDropList"
      [cdkDropListData]="noStatusTasks$ | async"
      [cdkDropListConnectedTo]="[toDoList, inProgressList, doneList]"
      class="dft-task-page-board-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of (noStatusTasks$ | async); track item) {
      <div class="dft-task-page-board-box" cdkDrag>{{ item.title }}</div>
      }
    </div>
  </div>

  <div class="dft-task-page-board-container">
    <h2>{{ "task.status.toDo" | translate }}</h2>

    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="toDoTasks$ | async"
      [cdkDropListConnectedTo]="[noStatusList, inProgressList, doneList]"
      class="dft-task-page-board-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of (toDoTasks$ | async); track item) {
      <div class="dft-task-page-board-box" cdkDrag>{{ item.title }}</div>
      }
    </div>
  </div>

  <div class="dft-task-page-board-container">
    <h2>{{ "task.status.inProgress" | translate }}</h2>

    <div
      cdkDropList
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgressTasks$ | async"
      [cdkDropListConnectedTo]="[noStatusList, doneList, todoList]"
      class="dft-task-page-board-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of (inProgressTasks$ | async); track item) {
      <div class="dft-task-page-board-box" cdkDrag>
        {{ item.title }}
      </div>
      }
    </div>
  </div>

  <div class="dft-task-page-board-container">
    <h2>{{ "task.status.done" | translate }}</h2>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="doneTasks$ | async"
      [cdkDropListConnectedTo]="[noStatusList, todoList, inProgressList]"
      class="dft-task-page-board-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of (doneTasks$ | async); track item) {
      <div class="dft-task-page-board-box" cdkDrag>{{ item.title }}</div>
      }
    </div>
  </div>
</div>
