.dft-diary-accordion__panel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dft-diary-accordion__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 0;
}

.dft-diary-accordion__list-item {
  border: none;
  width: 100%;
  display: flex;
  justify-content: left;
}
