<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>{{
      "app.navigation" | translate
    }}</mat-expansion-panel-header>

    <div class="dft-navigaton__links">
      <a mat-button color="primary" [routerLink]="homePagePath">
        <mat-icon aria-hidden="false" fontIcon="home"></mat-icon>
      </a>
      <a mat-button color="primary" [routerLink]="tasksPagePath"
        >{{ "app.tasks" | translate }}
      </a>
      <a mat-button color="primary" [routerLink]="notesPagePath"
        >{{ "app.notes" | translate }}
      </a>
      <a mat-button color="primary" [routerLink]="spacesPagePath"
        >{{ "app.spaces" | translate }}
      </a>
    </div>
  </mat-expansion-panel>
</mat-accordion>
