.dft-space-create-modal__title {
  width: 100%;
}

.dft-space-create-modal__selectors {
  display: flex;
  justify-content: space-between;
}

.dft-space-create-modal__selectors-control {
  width: 45%;
}
