<mat-list>
  @if (columnNames?.length && withHeader) {
  <mat-divider></mat-divider>
  <mat-list-item>
    <div class="dft-list__header">
      @for(columnName of columnNames; track $index) {
      <div
        class="dft-list__header-item"
        [class.mod-first]="$first"
        [class.mod-last]="$last && !$first"
      >
        {{ columnName | translate }}
      </div>
      }
    </div>
  </mat-list-item>

  <mat-divider></mat-divider>
  }
  <ng-content select="[items]"></ng-content>
</mat-list>
