@if(formGroup?.controls) {
<dft-edit-page
  (back)="navigateBack()"
  (reset)="resetFormValue()"
  (save)="saveChanges()"
>
  <ng-container main>
    <div class="dft-task-edit-page__content-sides">
      <div class="dft-task-edit-page__content-side">
        <mat-form-field>
          <mat-label>{{ "app.title" | translate }}</mat-label>
          <input matInput [formControl]="formGroup.controls.title" />
          @if (formGroup.controls.title.errors) {
          <mat-error>{{ getErrorMessage(formGroup.controls.title) }}</mat-error>
          }
        </mat-form-field>
        <dft-task-priority-selector
          [control]="formGroup.controls.priority"
        ></dft-task-priority-selector>
      </div>

      <div class="dft-task-edit-page__content-side">
        <mat-form-field>
          <mat-label>{{ "app.creationDate" | translate }}</mat-label>
          <input
            matInput
            disabled
            [formControl]="formGroup.controls.creationDate"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "app.enterStartAndEndDate" | translate }}</mat-label>
          <mat-date-range-input [formGroup]="formGroup" [rangePicker]="picker">
            <input matStartDate formControlName="startDate" />
            <input matEndDate formControlName="endDate" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          @if (formGroup.controls?.startDate?.errors) {
          <mat-error>{{
            getErrorMessage(formGroup.controls.startDate)
          }}</mat-error>
          } @if (formGroup.controls.endDate?.errors) {
          <mat-error>{{
            getErrorMessage(formGroup.controls.endDate)
          }}</mat-error>
          }
        </mat-form-field>
      </div>
    </div>

    <dft-text-area
      [control]="formGroup.controls.description"
      [height]="textAreaHeight"
    ></dft-text-area>

    <dft-task-status-selector
      [control]="formGroup.controls.status"
    ></dft-task-status-selector>
  </ng-container>
</dft-edit-page>
} @if(isLoading$ | async) {
<dft-spinner></dft-spinner>
}
