@if (formGroup?.controls) {
<div class="dft-compound-interest-final-amount">
  <dft-compound-interest-start-up-capital-input
    [control]="formGroup.controls.startUpCapital"
  ></dft-compound-interest-start-up-capital-input>
  <div class="dft-compound-interest-final-amount__control-with-period">
    <dft-compound-interest-investment-term-input
      [control]="formGroup.controls.investmentTerm"
    ></dft-compound-interest-investment-term-input>
    <dft-compound-interest-investment-term-selector
      [control]="formGroup.controls.ivestmentTermType"
    ></dft-compound-interest-investment-term-selector>
  </div>
  <dft-compound-interest-bid-input
    [control]="formGroup.controls.bid"
  ></dft-compound-interest-bid-input>
  <dft-compound-interest-reinvestment-period-selector
    [control]="formGroup.controls.reinvestmentPeriod"
  ></dft-compound-interest-reinvestment-period-selector>
  <div class="dft-compound-interest-final-amount__control-with-period">
    <dft-compound-extra-investments-input
      [control]="formGroup.controls.extraInvestment"
    ></dft-compound-extra-investments-input>
    <dft-compound-interest-extra-investments-period-selector
      [control]="formGroup.controls.extraInvestmentType"
    ></dft-compound-interest-extra-investments-period-selector>
  </div>

  <button
    class="dft-compound-interest-final-amount__calculate-control"
    mat-flat-button
    color="primary"
    (click)="calculate()"
  >
    {{ "app.calculate" | translate }}
  </button>
</div>
} @if (finalCalculationsResult$ | async; as finalCalculationsResult) {
<hr />
<div class="dft-compound-interest-final-amount__results">
  <div class="dft-compound-interest-final-amount__results-header">
    <div
      class="dft-compound-interest-final-amount__results-header-side mod-left"
    >
      <span class="dft-compound-interest-final-amount__results-label"
        >{{ "copmoundInterest.allReplenishmentsSum" | translate }}:</span
      >
      <span class="dft-compound-interest-final-amount__results-label"
        >{{ "app.income" | translate }}:</span
      >
      <span class="dft-compound-interest-final-amount__results-label"
        >{{ "copmoundInterest.resultSum" | translate }}:</span
      >
    </div>

    <div
      class="dft-compound-interest-final-amount__results-header-side mod-right"
    >
      <span class="dft-compound-interest-final-amount__results-label"
        ><b>{{
          finalCalculationsResult.replenishments | number : "1.0-3"
        }}</b></span
      >
      <span class="dft-compound-interest-final-amount__results-label"
        ><b>{{ finalCalculationsResult.income | number : "1.0-3" }}</b></span
      >
      <span class="dft-compound-interest-final-amount__results-label"
        ><b>{{ finalCalculationsResult.resultSum | number : "1.0-3" }}</b></span
      >
    </div>
  </div>

  <dft-compound-interest-analysis-chart
    [analysysChartData]="analysisChartData$ | async"
  ></dft-compound-interest-analysis-chart>

  @if ((growthChartData$ | async).length) {
  <dft-compound-interest-growth-chart
    [items]="growthChartData$ | async"
  ></dft-compound-interest-growth-chart>
  }

  <dft-compound-interest-results-table
    class="dft-compound-interest-final-amount__results-table"
    [yearsData]="(finalCalculationsResult$ | async).yearsData"
  ></dft-compound-interest-results-table>
</div>
}
