.dft-compound-interest-final-amount {
  display: flex;
  width: 20rem;
  flex-direction: column;
  row-gap: 2rem;
  width: 30rem;
}

.dft-compound-interest-final-amount__control-with-period {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dft-compound-interest-final-amount__calculate-control {
  display: block;
  width: 100%;
}
