.dft-compound-interest-final-amount {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 30rem;
  margin: 0 auto;
}

.dft-compound-interest-final-amount__control-with-period {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dft-compound-interest-final-amount__calculate-control {
  display: block;
  width: 100%;
}

.dft-compound-interest-final-amount__results {
  padding: 4rem 2rem;
}

.dft-compound-interest-final-amount__results-header {
  display: flex;
  width: 100%;
}

.dft-compound-interest-final-amount__results-header-side {
  display: flex;
  align-items: center;
  flex-direction: column;

  row-gap: 2rem;
  flex: 1;

  &.mod-left {
    justify-content: left;
  }

  &.mod-right {
    justify-content: right;
  }
}

.dft-compound-interest-final-amount__results-label {
  display: block;
  align-items: center;
  justify-content: left;
  width: 100%;
}
