@if (formGroup?.controls) {
<div class="dft-compound-interest-final-amount">
  <dft-compound-interest-start-up-capital-input
    [control]="formGroup.controls.startUpCapital"
  ></dft-compound-interest-start-up-capital-input>
  <div class="dft-compound-interest-final-amount__control-with-period">
    <dft-compound-interest-investment-term-input
      [control]="formGroup.controls.investmentTerm"
    ></dft-compound-interest-investment-term-input>
    <dft-compound-interest-investment-term-selector
      [control]="formGroup.controls.ivestmentTermType"
    ></dft-compound-interest-investment-term-selector>
  </div>
  <dft-compound-interest-bid-input
    [control]="formGroup.controls.bid"
  ></dft-compound-interest-bid-input>
  <dft-compound-interest-reinvestment-period-selector
    [control]="formGroup.controls.reinvestmentPeriod"
  ></dft-compound-interest-reinvestment-period-selector>
  <div class="dft-compound-interest-final-amount__control-with-period">
    <dft-compound-extra-investments-input
      [control]="formGroup.controls.extraInvestitions"
    ></dft-compound-extra-investments-input>
    <dft-compound-interest-extra-investments-period-selector
      [control]="formGroup.controls.extraInvestitionsType"
    ></dft-compound-interest-extra-investments-period-selector>
  </div>

  <button
    class="dft-compound-interest-final-amount__calculate-control"
    mat-flat-button
    color="primary"
    (click)="calculate()"
  >
    {{ "app.calculate" | translate }}
  </button>
</div>
}
