@if (formGroup?.controls) {
<dft-create-form
  [height]="'6rem'"
  [width]="'16rem'"
  (close)="close()"
  (create)="create()"
>
  <main main>
    <mat-form-field class="dft-expense-type-create-modal__title-control">
      <mat-label>{{ "app.expense.type" | translate }}</mat-label>
      <input matInput [formControl]="formGroup.controls.name" />
      @if (formGroup.controls?.name?.errors) {
      <mat-error>{{ getErrorMessage(formGroup.controls?.name) }}</mat-error>
      }
    </mat-form-field>
  </main>
</dft-create-form>

}
