.dft-income-create-modal__amount-control {
  display: block;
  width: 100%;
}

.dft-income-create-modal__two-sides-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}

.dft-income-create-modal__wrap-side {
  display: block;
  width: 45%;
}
