<div class="spaces-page-list">
  <mat-accordion
    class="spaces-page-list__filters"
    [class.full-width]="notePanel.expanded"
  >
    <mat-expansion-panel #notePanel [expanded]="false">
      <mat-expansion-panel-header>
        {{ "app.filters" | translate }}
      </mat-expansion-panel-header>
      <dft-space-search-panel
        (searchParamsChange)="searchParamsChange($event)"
      ></dft-space-search-panel>
    </mat-expansion-panel>
  </mat-accordion>

  @if ((spaces$ | async)?.length) {
  <dft-space-list
    class="dft-spaces-page-list__list"
    (navigateSpaceEditPage)="goToSpaceEditPage($event)"
    (removeSpace)="removeSpace($event)"
    (completeTask)="completeTask($event)"
    (editTask)="editTask($event)"
    (removeTask)="removeTask($event)"
    (editNote)="editNote($event)"
    (removeNote)="removeNote($event)"
    [spaces]="spaces$ | async"
  ></dft-space-list>
  } @else {
  <h1 class="dft-spaces-page-list__no-spaces">
    {{ "space.noSpacesFound" | translate }}
  </h1>
  }
</div>
