<mat-form-field>
  <mat-label>{{ "auth.name" | translate }}</mat-label>
  <input
    matInput
    [placeholder]="placeholders.name"
    [formControl]="formGroup.controls.name"
  />
  @if (formGroup.controls.name; as name) {
  <mat-error>{{ getErrorMessage(name) | translate }}</mat-error>
  }
</mat-form-field>
<mat-form-field>
  <mat-label>{{ "auth.email" | translate }}</mat-label>
  <input
    matInput
    [placeholder]="placeholders.email"
    [formControl]="formGroup.controls.email"
  />
  @if (formGroup.controls.email; as email) {
  <mat-error>{{ getErrorMessage(email) | translate }}</mat-error>
  }
</mat-form-field>
<mat-form-field>
  <mat-label>{{ "auth.password" | translate }}</mat-label>
  <input matInput [formControl]="formGroup.controls.password" />
  @if (formGroup.controls.password; as password) {
  <mat-error>{{ getErrorMessage(password) | translate }}</mat-error>
  }
</mat-form-field>

<button mat-raised-button color="primary" (click)="confirm()">
  {{ "app.signUp" | translate }}
</button>
