@if (formGroup?.controls) {
<dft-create-form
  [height]="'32rem'"
  [width]="'53rem'"
  (close)="close()"
  (create)="create()"
>
  <div header>lalla</div>
  <main main>
    <mat-form-field class="dft-task-create-modal__title-control">
      <mat-label>{{ "app.title" | translate }}</mat-label>
      <input matInput [formControl]="formGroup.controls.title" />
      @if (formGroup.controls.title.errors) {
      <mat-error>{{ getErrorMessage(formGroup.controls.title) }}</mat-error>
      }
    </mat-form-field>

    <div class="dft-task-create-modal__two-sides-wrap">
      <div class="dft-task-create-modal__wrap-side">
        <dft-task-priority-selector
          [control]="formGroup.controls.priority"
        ></dft-task-priority-selector>
      </div>

      <div class="dft-task-create-modal__wrap-side">
        <dft-task-date-range-selector
          [formGroup]="formGroup"
        ></dft-task-date-range-selector>
      </div>
    </div>
    <dft-text-area
      class="dft-task-create-modal__description-control"
      [control]="formGroup.controls.description"
      [height]="textAreaHeight"
    ></dft-text-area>
  </main>
</dft-create-form>

}
