.dft-interest {
  display: flex;
  width: 28%;
  margin: 0 auto;
  flex-direction: column;
  row-gap: 2rem;
}

.dft-interst__inputs {
  display: flex;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
}
