<mat-accordion [class.small-width]="isOpened" class="dft-home-page__task-list">
  <mat-expansion-panel
    (opened)="setOpenedState(true)"
    (closed)="setOpenedState(false)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> {{ "app.todayTasks" | translate }} </mat-panel-title>
    </mat-expansion-panel-header>
    @if ((tasks$ | async)?.length;) {
    <dft-task-list [taskItems]="tasks$ | async"></dft-task-list>
    } @else {
    <span
      >{{ "app.noTodayTasks" | translate }}.
      <button mat-button color="primary" (click)="showCreateTaskModal()">
        {{ "app.createTask" | translate }}
      </button></span
    >
    }
  </mat-expansion-panel>
</mat-accordion>

<dft-create-entity-menu-button
  class="home-page__add-entity"
  (createTask)="showCreateTaskModal()"
></dft-create-entity-menu-button>
