.dft-home-page {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  column-gap: 2rem;
}

.dft-home-page__task-list {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.home-page__add-entity {
  display: block;
  position: sticky;
  width: 5%;
  bottom: 2rem;
  left: 100vw;
}

.dft-home-page__task-list {
  display: block;
  width: 20%;
  margin: 0 auto;

  &.full-width {
    width: 80%;
  }
}
