@if (isLoading$ | async) {
<dft-spinner></dft-spinner>
}

<div class="dft-home-page">
  <mat-accordion
    [class.full-width]="taskPanel.expanded"
    class="dft-home-page__task-list"
  >
    <mat-expansion-panel #taskPanel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ "app.todayTasks" | translate }} </mat-panel-title>
      </mat-expansion-panel-header>
      @if ((tasks$ | async)?.length;) {
      <dft-task-list
        [taskItems]="tasks$ | async"
        (completeTask)="completeTask($event)"
        (editTask)="goToTaskEditPage($event)"
        (removeTask)="removeTask($event)"
      ></dft-task-list>
      } @else {
      <span
        >{{ "app.noTasks" | translate }}.
        <button mat-button color="primary" (click)="showCreateTaskModal()">
          {{ "app.createTask" | translate }}
        </button></span
      >
      }
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion
    [class.full-width]="notePanel.expanded"
    class="dft-home-page__task-list"
  >
    <mat-expansion-panel #notePanel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ "app.recentNotes" | translate }} </mat-panel-title>
      </mat-expansion-panel-header>
      @if ((notes$ | async)?.length;) {
      <dft-note-list
        [noteItems]="notes$ | async"
        (editNote)="goToNoteEditPage($event)"
        (removeNote)="removeNote($event)"
      ></dft-note-list>
      } @else {
      <span
        >{{ "app.noNotes" | translate }}.
        <button mat-button color="primary" (click)="showCreateNoteModal()">
          {{ "app.createNote" | translate }}
        </button></span
      >
      }
    </mat-expansion-panel>
  </mat-accordion>
</div>

<dft-create-entity-menu-button
  class="home-page__add-entity"
  (createTask)="showCreateTaskModal()"
  (createNote)="showCreateNoteModal()"
  (createSpace)="showCreateSpaceModal()"
></dft-create-entity-menu-button>
