.dft-home-page {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  column-gap: 2rem;
}

.dft-home-page__task-list {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.home-page__add-entity {
  display: block;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.dft-home-page__task-list {
  display: block;
  width: 20%;
  margin: 0 auto;

  &.full-width {
    width: 80%;
  }
}
